.accordion {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--collection-1-border);
  border-radius: var(--collection-1-border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 500px;
}

.accordion-item {
  width: 100%;
  border-bottom: 2px solid var(--collection-1-border);
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  width: 100%;
  padding: 16px;
  background-color: var(--main);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #fd9745;
}

.accordion-title {
  color: var(--text);
  font-family: var(--heading-base-font-family);
  font-size: var(--heading-base-font-size);
  font-weight: var(--heading-base-font-weight);
  line-height: var(--heading-base-line-height);
}

.accordion-icon {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.accordion-icon.expanded {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease;
  padding: 0 16px;
}

.accordion-content.expanded {
  max-height: 500px;
  padding: 16px;
}

.accordion-content > * {
  color: var(--text);
  font-family: var(--sm-font-family);
  font-size: var(--sm-font-size);
  font-weight: var(--sm-font-weight);
  line-height: var(--sm-line-height);
  margin: 0;
}